node_modules
.next/server/containers_Education_jsx.js
.next/static/chunks/containers_Education_jsx.js
.next/static/chunks/containers_Experience_jsx.js
.next/static/chunks/containers_Greetings_jsx.js
.next/static/chunks/containers_Proficiency_jsx.js
.next/static/chunks/containers_Projects_jsx.js
.next/static/chunks/containers_Skills_jsx.js
.next/static/chunks/main.js
.next/static/chunks/node_modules_next_dist_client_dev_noop_js.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/fontawesome-webfont.1e59d2330b4c6deb84b340635ed36249.ttf
.next/static/media/fontawesome-webfont.8b43027f47b20503057dfbbaa9401fef.eot
.next/static/media/fontawesome-webfont.20fd1704ea223900efa9fd4e869efb08.woff2
.next/static/media/fontawesome-webfont.6878d55e3615ccf40c386ec2a90dfd6a.svg
.next/static/media/fontawesome-webfont.f691f37e57f04c152e2315ab7dbad881.woff
.next/static/media/nucleo-icons.19abb5402a664606b14cb338e7fefd3b.eot
.next/static/media/nucleo-icons.95fa360c1c73431a0f9a4c9c72dff153.svg
.next/static/media/nucleo-icons.c82c9b7c40130b7116d3cec28196169a.woff
.next/static/media/nucleo-icons.cba267483aa6a7cb6e337fd2a2044777.woff2
.next/static/media/nucleo-icons.d6a66724e7a7bf1bba65051b309df222.ttf
.next/static/webpack/5736031a28d8c0fad1da.webpack.hot-update.json
.next/static/webpack/webpack.5736031a28d8c0fad1da.hot-update.js
.next/server/components_GithubProfileCard_jsx.js
.next/server/components_Navigation_jsx.js
.next/server/containers_Experience_jsx.js
.next/server/containers_Greetings_jsx.js
.next/server/containers_Proficiency_jsx.js
.next/server/containers_Projects_jsx.js
.next/server/containers_Skills_jsx.js
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/index.js
.next/static/chunks/amp.js
.next/static/chunks/components_GithubProfileCard_jsx.js
.next/static/chunks/components_Navigation_jsx.js
.next/react-loadable-manifest.json
yarn.lock
.next/build-manifest.json
.next/static/webpack/components_GithubProfileCard_jsx.f437565e7db1778ab160.hot-update.js
.next/static/webpack/components_Navigation_jsx.f437565e7db1778ab160.hot-update.js
.next/static/webpack/containers_Education_jsx.f437565e7db1778ab160.hot-update.js
.next/static/webpack/containers_Experience_jsx.f437565e7db1778ab160.hot-update.js
.next/static/webpack/containers_Greetings_jsx.f437565e7db1778ab160.hot-update.js
.next/static/webpack/containers_Proficiency_jsx.f437565e7db1778ab160.hot-update.js
.next/static/webpack/containers_Projects_jsx.f437565e7db1778ab160.hot-update.js
.next/static/webpack/containers_Skills_jsx.f437565e7db1778ab160.hot-update.js
.next/static/webpack/f437565e7db1778ab160.webpack.hot-update.json
.next/static/webpack/webpack.f437565e7db1778ab160.hot-update.js
